body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.text-dark{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 23px;
}
.nav-link{
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-link:hover{
    color: rgb(112, 163, 245) !important;
    text-decoration: underline rgb(112, 163, 245);
}
.btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.first-half-contact {
    background-color: rgb(239, 246, 255);
    border-radius: 0 300px 300px 0;
    color: black;
    padding: 85px 50px;
}

.half-form {
    padding: 30px 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin-left: -160px;
    margin-top: 120px;
    width: 105%;
    background-color: white;
    position: relative;
}

.half-form input {
    font-size: 13px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-bottom: 15px;
}

.half-form textarea {
    font-size: 13px;
    padding: 13px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin-bottom: 30px;
}

.btnn {
    border: 1px solid rgb(112, 163, 245);
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(112, 163, 245);
    font-weight: 500;
    font-size: 12px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    letter-spacing: 1px;
  }
  
  .btnn span {
    position: relative; 
    z-index: 1;
  }
  
  .btnn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: rgb(112, 163, 245);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    
  }
  
  .btnn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    
  }
  .btnn:hover{
    color: white;
  }
  
i {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(112, 163, 245);
}

.half-form h2 {
    color: rgb(112, 163, 245);
    font-weight: 600;
    margin-bottom: 20px;
}

.card-box {
    background-color: rgb(112, 163, 245);
    color: white;
    margin-top: 20px;
    width: 50%;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.label {
    margin-bottom: -18px;
    margin-left: 13px;
    padding: 0px 10px;
}

label {
    background-color: white;
    font-size: 14px;
}

.card-box h4 {
    margin-top: 9px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.card-box p {
    font-size: 13px;
}

.icon {
    background-color: rgb(239, 246, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.map-cover iframe {
    width: 100%;
    margin-top: 40px;
}
hr{
    border: 1.5px dashed rgb(112, 163, 245);
}
.footer-wrapper{
    background-color: rgb(238, 245, 255);
    padding-top:30px;    
}
.broker-col-1 h3{
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-size: 16px;
}
.broker-col-1 ul{
    list-style: none;
}
.broker-col-1 li{
    margin-bottom: 20px;
    font-size: 16px;
}   
.broker-col-1 a{
    text-decoration: none;
    color: black;
}
.broker-col-1 a:hover{
   text-decoration: underline;
}
.foot-span{
    font-weight: 500;
    text-decoration: underline;
    color: black;
    letter-spacing: 1px;
}
.copyrigths-content-footer p{
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 0;
}
.copyrigths-content-footer{
    background-color: rgb(112, 163, 245);
    border-radius: 20px;
   
}
@media screen and (max-width:992px) {
    .half-form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 85%;
        padding: 30px 20px;
    }

    .card-box {
        margin-top: 20px;
        padding: 15px 5px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .first-half-contact h2 {
        text-align: center;
    }

    .first-half-contact {
        border-radius: 0 0 200px 200px;
    }
}

@media screen and (max-width:467px) {
    .half-form {
        width: 90%;
    }

    .card-box {
        margin-top: 15px;
        width: 98%;
    }

    .first-half-contact {
        padding: 20px 50px;
    }
}